/* https://stackoverflow.com/questions/44284361/bootstrap-progress-bar-is-not-shown-in-print-preview */
.progress {
  background-image: none;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  box-shadow: inset 0 0;
  -webkit-box-shadow: inset 0 0;
}
.bar {
  background-image: none;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  box-shadow: inset 0 0;
  -webkit-box-shadow: inset 0 0;
}