
.divider-1 {
    width: 100%;
    height: calc(1*0.5rem);
}
.divider-2 {
    width: 100%;
    height: calc(2*0.5rem);
}
.divider-3 {
    width: 100%;
    height: calc(3*0.5rem);
}
.divider-4 {
    width: 100%;
    height: calc(4*0.5rem);
}
.divider-5 {
    width: 100%;
    height: calc(5*0.5rem);
}
.divider-6 {
    width: 100%;
    height: calc(6*0.5rem);
}
.divider-7 {
    width: 100%;
    height: calc(7*0.5rem);
}
.divider-8 {
    width: 100%;
    height: calc(8*0.5rem);
}
.divider-9 {
    width: 100%;
    height: calc(9*0.5rem);
}
.divider-10 {
    width: 100%;
    height: calc(10*0.5rem);
}

/* Main o Hero banner */
/* hero background image */
.bgimage {
    height:100vh;
    /* En la ruta de url(...) ../ es para navegar primero a la carpeta superior y alli se busca images > heroImage.jpg */
    /* background: url('../images/heroImage.jpg'); */
    /* Colocando un "filtro" sin z-index */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/heroImage.jpg");
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 3.0rem;
    text-shadow: 2px 2px 5px #000;
}
.hero_desc {
    font-size: 2rem;
    text-shadow: 3px 3px 3px #000;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* About section */
/* about section image css */
.imageAboutPage {
    display: block;
    width: 50%;
    margin: 10px auto;
}
/* Personzalizamos las viñetas 
Fuente: https://web.dev/css-marker-pseudo-element/
Nota: usamos li::before porque ::marker no funciona en todos los navegadores
*/
.about-ul {
    list-style-type: none;
    padding-left: 0;
}
.about-ul li {
    padding-left: 0;
    margin-left: 0;
}
.aboutIcon {
    display: inline-block;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 15px;
    margin-right: 30px;
}
/* Quitamos emojis por iconos */
/* .about-ul li::before {
    content: "✅";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
} */

/* Servicios */
/* services section css */
.servicesText.card {
    height: 200px;
    min-height: 200px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #000;
}
.servicesText:hover {
    border: 1px solid #000;
}
/* Portfolio section */
.img-container{
    height: 250px;
    min-height: 200px;
    margin-bottom: 15px;
}