.divider-1 {
    width: 100%;
    height: calc(1*0.5rem);
}
.divider-2 {
    width: 100%;
    height: calc(2*0.5rem);
}
.divider-3 {
    width: 100%;
    height: calc(3*0.5rem);
}
.divider-4 {
    width: 100%;
    height: calc(4*0.5rem);
}
.divider-5 {
    width: 100%;
    height: calc(5*0.5rem);
}
.divider-6 {
    width: 100%;
    height: calc(6*0.5rem);
}
.divider-7 {
    width: 100%;
    height: calc(7*0.5rem);
}
.divider-8 {
    width: 100%;
    height: calc(8*0.5rem);
}
.divider-9 {
    width: 100%;
    height: calc(9*0.5rem);
}
.divider-10 {
    width: 100%;
    height: calc(10*0.5rem);
}

/* Main o Hero banner */
/* hero background image */
.bgimage {
    height:100vh;
    /* En la ruta de url(...) ../ es para navegar primero a la carpeta superior y alli se busca images > heroImage.jpg */
    /* background: url('../images/heroImage.jpg'); */
    /* Colocando un "filtro" sin z-index */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/heroImage.jpg");
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}