---
import ExperienceItem from "./ExperienceItem.astro"
import LinkInline from "./LinkInline.astro"
const EXPERIENCE = [
  {
    date: "marzo 2024 - actualmente",
    title: "Formador de Bootcamp",
    company: "Fundación Esplai",
    description:
      "Enseño contenido full-stack orientado a Python, machine learning y entrenamiento de modelos de IA usando las tecnologías actuales para facilitar el desarrollo con Django y librerías de Python.",
    link: "https://fundacionesplai.org/",
  },
  {
    date: "abril 2024 - actualmente",
    title: "CTO",
    company: "Método Bitcoin",
    description:
      "Responsable de desarrollo de un exchange de criptomonedas que unifica tencologías actuales y servicios de proveedores para facilitar la experiencia a los usuarios.",
    link: "https://metodobitcoin.com/",
  },
]
const cvLink = "https://cesarlpb.github.io/cv?lang=es"
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<p>
  Para ver mi trayectoria en más detalle, échale un vistazo a mi 
  <LinkInline href={cvLink} target>
    curriculum
  </LinkInline>.
</p>
