<section id="bgl-section">
<p>Blue Goat Labs is a startup that focuses on turnkey software development and more digital services.
    Our seasoned team can provide a series of services including the following:
</p>

<div class="container" id="services-tbl">
    <table>
        <tr>
            <th>Development</th>
            <th>Blockchain</th>
            <th>Sales</th>
            <th>Marketing</th>
        </tr>
    
        <tr class="border-bottom">
            <td class="border-right">
                <ul>
                    <li>Multiplatform</li>
                    <li>Web applications</li>
                    <li>Custom platforms</li>
                </ul>
            </td>
            <td class="border-right">
                <ul>
                    <li>Smart contracts</li>
                    <li>EVM-compatible</li>
                    <li>dApp development</li>
                </ul>
            </td>
            <td class="border-right">
                <ul>
                    <li>Team coaching</li>
                    <li>Sales planning</li>
                    <li>KPIs improvement</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Campaign design</li>
                    <li>Branding</li>
                    <li>Marketing plan</li>
                </ul>
            </td>
        </tr>
            
    </table>
</div>

<p>For more information about our services, do not hesitate to 
    <a href="mailto:info@bluegoatlabs.com?subject=Service%20Information%20Request&body=Hello,%20I%20want%20to%20know%20more%20about%20the%20services%20you%20offer.%0D%0APlease,%20let%20know%20when%20we%20can%20schedule%20a%20call.%0D%0ARegards,%0D%0AYour%20name.">
        request a free consultation</a> here. At Blue Goat Labs, we will gladly help you develop your project.</p>

</section>