{% capture portfolio_path %}{{ site.portfolio }}{% endcapture %}
{% capture eLibertas_path %}{{ site.eLibertas }}{% endcapture %}
{% capture austral_path %}{{ site.austral }}{% endcapture %}
{% capture bark_path %}{{ site.bark }}{% endcapture %}

<section id="portfolio-section">
    <div class="container">
        <div class="grid-container">
            <div class="grid-item">
                <figure>
                    <img src="{{ eLibertas_path | relative_url }}" alt="eLibertas Application">
                    <figcaption>
                        <h4>eLibertas - Legal Tech Startup for Lawfirms</h4>
                        <p class="description">Document creation & generation app to enhance legal processes.</p>
                        <div class="tags">
                            <p>Legal Tech</p>
                            <p>Documentation</p>
                            <p>Jurisprudence</p>
                            <p>Lawfirm</p>
                            <p>Automation</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="{{ austral_path | relative_url }}" alt="Austral Application">
                    <figcaption>
                        <h4>Austral - Construction & Architects Office</h4>
                        <p class="description">Construction data feed, quote comparator and bill generator with flow controls.</p>
                        <div class="tags">
                            <p>Documentation</p>
                            <p>Construction</p>
                            <p>Budget Comparator</p>
                            <p>Billing</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="{{ bark_path | relative_url }}" alt="Bark IDO Platform">
                    <figcaption>
                        <h4 style="margin-top: 15px;">Bark - IDO Platform on the Cardano Blockchain</h4>
                        <p class="description">Platform for initial Dex Offering on the Cardano blockchain.</p>
                        <div class="tags">
                            <p>Blockchain</p>
                            <p>Django</p>
                            <p>Python</p>
                            <p>Web 3</p>
                            <p>Cardano</p>
                            <p>IDO Platform</p>
                        </div>
                    </figcaption>
                </figure>
            </div>  
            <!--
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>  
            <div class="grid-item">7</div>
            <div class="grid-item">8</div>
            <div class="grid-item">9</div>  
            -->
        </div>
          
    </div>
</section>