{% capture portfolio_path %}{{ site.portfolio }}{% endcapture %}
<section id="portfolio-section">
    <div class="container">
        <div class="grid-container">
            <div class="grid-item">
                <figure>
                    <img src="{{ portfolio_path | relative_url }}" alt="portfolio">
                    <figcaption>
                        <h4>Project 1</h4>
                        <p>We developed this project.</p>
                        <div class="tags">
                            <p>Tag 1</p>
                            <p>Tag 2</p>
                            <p>Tag 3</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="{{ portfolio_path | relative_url }}" alt="portfolio">
                    <figcaption>
                        <h4>Project 2</h4>
                        <p>We developed this project.</p>
                        <div class="tags">
                            <p>Tag 1</p>
                            <p>Tag 2</p>
                            <p>Tag 3</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="{{ portfolio_path | relative_url }}" alt="portfolio">
                    <figcaption>
                        <h4>Project 3</h4>
                        <p>We developed this project.</p>
                        <div class="tags">
                            <p>Tag 1</p>
                            <p>Tag 2</p>
                            <p>Tag 3</p>
                        </div>
                    </figcaption>
                </figure>
            </div>  
            <!--
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>  
            <div class="grid-item">7</div>
            <div class="grid-item">8</div>
            <div class="grid-item">9</div>  
            -->
        </div>
          
    </div>
</section>